*{
    padding: 0px;
    margin: 0px;
}
body{
    position: relative;
}

header {
    display: flex;
    background: #333;
    border-bottom: 1px solid #444;
    width: 100%;
    height: 3.75rem;
    position: relative;
    z-index: 10;
     
}

header .logo_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.4rem;
    height: 100%;
}
header .logo_left img {
    width: 75%;
    height: 50%;
    padding-left: 1rem;
}
header .glint {
    display: flex;
    width: 7.8rem;
    height: 100%;
    background-color: #222020;
    align-items: center;
    justify-content: center;
}
header .glint .plus {
    color: #9B9B9B;
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 1rem;
}
header .devices {
    width: 17.7rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px red; */
    position: absolute;
    right: 0px;
}
header .devices .device {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-left: solid 0.000001px #474747;
}
header .devices .device:hover {
    background-color: black;
    color: #fff;
}
header .devices .device a {
    color: #8a9099;
}
header .devices .device a:hover{
    color: #fff;
    background-color: black;
}

#cart {
    background-color: rgb(99, 219, 99);
    color: #fff;
}
#cart:hover {
    background-color: black;
}
#cart a{
    color: #fff;
}
/* sec1 */

.sec1 {
    background-image: url("./cropped-hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 55.125rem;
    background-color: transparent;
    display : block;
}
.sec1 .nav {
    display: flex;
    align-items: center;
    width: 100%;
    height:6rem;
    position: relative;
}
.sec1 .nav .a1 {
    position: fixed;
    right: 2.8rem;
    text-decoration: none;
}
.sec1 .nav .a1 .menu {
    color: #39b54a;
    margin-right: 0.5rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: small;
}
.sec1 .nav .a1 .menu:hover {
    color: #fff;
}
.sec1 .nav .nav_glint img{
    height: 1.6rem;
    width: auto;
    margin-left: 2rem;
    
}

.sec1 .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 43.125rem;
    /* border: 2px solid red; */
}
.sec1 .content .paragraph {
    width: 70%;
    height: 100%;
    /* border: 2px solid pink; */
}
.sec1 .content .paragraph h3 {
    color: rgb(162, 173, 184);
    margin-left: 11rem;
    padding-top: 10rem;
    padding-bottom: 0.8rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 600;
}
.sec1 .content .paragraph h1 {
    color: rgb(224, 217, 217);
    display: inline-block;
    vertical-align: middle;
    margin-left: 11rem;
    font-size: 4rem;
    font-family: sans-serif;
    font-style: inherit;
}
.sec1 .content .socialmedia_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
.sec1 .content .socialmedia_icon a {
    padding: 1.5rem;
    color: #fff;
    text-decoration: none;
}
#facebook img{
    height: 2rem;
    width: 2rem;
}
.sec1 .button {
    width: 60%;
    height: 3.2rem;
    margin-left: 11rem;
    display: flex;
    margin-top: 7rem;
    
}
.sec1 .content .paragraph a:hover {
    background-color: #fff;
    color:gray
}
.sec1 .button .start {
    color: #fff;
    text-align: center;
    border: solid 1px #fff;
    width: 13rem;
    padding-top: 1rem;
    text-decoration: none;
}
.sec1 .button .more {
    color: #fff;
    text-align: center;
    border: solid 1px #fff;
    margin-left: 1rem;
    width: 13rem;
    padding-top: 1rem;
    text-decoration: none;
}

/* sec 2 */

#sec2 {
    background-color: #39B54A;
    width: 100%;
    height: 66rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
#sec2 .div1 {
    width: 100%;
    height: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5rem;
    /* border: solid 1px red; */
}
#sec2 .div1 .heading {
    width: 60%;
    height: 9rem;
    text-align: center;
    
}
#sec2 .div1 .heading h3 {
    color: #000000;
    font-size: 1.1rem;
    font-family: sans-serif;
}
#sec2 .div1 .heading h1 {
    color: #ffffff;
    font-size: 4.5rem;
    font-family: sans-serif;
    padding-top: 2.3rem;
}
#sec2 hr {
    width: 40%;
    margin-top: 2rem;
    height: 0.3px;
    border: none;
    background-color: #acdda0;
}
#sec2 .div2 {
    width: 100%;
    height: 15rem;
    position: absolute;
    top: 18rem;
    /* border: solid 1px black; */
}
#sec2 .div2 p {
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 0rem 10rem;
    line-height:1.8;
}
#sec2 .div3 {
    height: 15rem;
    position: absolute;
    top: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px black; */
}

#sec2 .div3 .box {
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 0.5px rgb(247, 245, 245);
}

#sec2 .div3 .box h1 {
    font-size: 5rem;
    color: #ffffff;
    font-family: sans-serif;
}
#sec2 .div3 .box p {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
    font-family: sans-serif;
}
#sec2 .div3 .box1 {
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sec2 .div3 .box1 h1 {
    font-size: 5rem;
    color: #ffffff;
    font-family: sans-serif;
}
#sec2 .div3 .box1 p {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
    font-family: sans-serif;
}

/* sec 3 */

#sec3 {
    height: 82rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
#sec3 .upper {
    width: 100%;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5rem;
}
#sec3 .upper .upperheading {
    width: 60%;
    height: 11rem;
    text-align: center;
}
#sec3 .upper .upperheading h3 {
    color: #39B54A;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
}
#sec3 .upper .upperheading h1 {
    color: #000000;
    font-size: 2.75rem;
    font-family: sans-serif;
    padding-top: 2.3rem;
}
#sec3 hr {
    width: 40%;
    margin-top: 2rem;
    height: 0.3px;
    border: none;
    background-color: #acdda0;
}
#sec3 .lower {
    height: 55rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* border: solid 1px black; */
    position: absolute;
    top: 23rem;
}
#sec3 .lower .box {
    display: flex;
    height: 15rem;
    width: 40%;
    /* border: solid 1px black; */
}

#sec3 .lower .box .icon {
    width: 20%;
    height: 100%;
    text-align: center;
    color: #39B54A;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

#sec3 .lower .box .content {
    width: 80%;
    height: 100%;
}

#sec3 .lower .box .content h1 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-family: sans-serif;
}

#sec3 .lower .box .content h4 {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.7;
    color: #757575;
    font-weight: 400;
}

/* section 4 */

#sec4 {
    height: 120rem;
    width: 100%;
    position: relative;
    /* border: solid 1px black; */
}
#sec4 .back {
    height: 33%;
    width: 100%;
    background-color: #000000;
}

#sec4 .back .upper {
    width: 100%;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5rem;
}
#sec4 .back .upper .upperheading {
    width: 60%;
    height: 11rem;
    text-align: center;
}
#sec4 .back .upper .upperheading h3 {
    color: #39B54A;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
}
#sec4 .back .upper .upperheading h1 {
    color: #ffffff;
    font-size: 2.75rem;
    font-family: sans-serif;
    padding-top: 2.3rem;
}
#sec4 hr {
    width: 40%;
    margin-top: 2rem;
    height: 0.08px;
    border: none;
    background-color: #9cad97;
}

#sec4 .main {
    height: 95rem;
    width: 86%;
    margin: 8%;
    position: absolute;
    top: 13rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#sec4 .main .box1 {
    height: 30rem;
    width: 50%;
    background-size: cover;
    background-image: url("./box1.webp");
    /* border: solid 1px red; */
}

#sec4 .main .box2 {
    height: 30rem;
    width: 50%;
    background-size: cover;
    background-image: url("./box3.webp");
    /* border: solid 1px red; */
} 

#sec4 .main .box3 {
    height: 34rem;
    width: 50%;
    background-size: cover;
    background-image: url("./box5.webp");
    /* border: solid 1px red; */
}

#sec4 .main .box4 {
    height: 34rem;
    width: 50%;
    background-size: cover;
    background-image: url("./box2.webp");
    /* border: solid 1px red; */
}

#sec4 .main .box5 {
    height: 30rem;
    width: 50%;
    background-size: cover;
    background-image: url("./box4.webp");
    /* border: solid 1px red; */
}

#sec4 .main .box6 {
    height: 30rem;
    width: 50%;
    background-size: cover;
    background-image: url("./box6.webp");
    /* border: solid 1px red; */
}

/* section 5 */

#sec5 {
    height: 85rem;
    width: 100%;
    background-color: #e6e6e6;
    position: relative;
}

#sec5 .upperheading {
    width: 60%;
    height: 15rem;
    position: absolute;
    text-align: center;
    top: 8rem;
    left: 20%;
}

#sec5 .upperheading h3 {
    color: #39B54A;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
}
#sec5 .upperheading h1 {
    color: #000000;
    font-size: 3rem;
    font-family: sans-serif;
    padding-top: 2.3rem;
}

#sec5 .icon {
    height: 10rem;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23rem;
    
}
#sec5 a img {
    max-width: 8rem;
    padding: 0rem 2rem;
}

#sec5 hr{
    width: 40%;
    line-height: .1rem;
    position: absolute;
    top: 42rem;
    left: 30%;
}

#sec5 .lower {
    height: 26rem;
    width: 70%;
    position: absolute;
    top: 47rem;
    left: 15%;
    text-align: center;
     /* border: solid 1px red; */
}
#sec5 .lower .info {
    font-size: 2rem;
    font-family: sans-serif;
    line-height: 1.7;
    color: #555555;
}
#sec5 .lower img {
    max-width: 6rem;
    margin-top: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#sec5 .lower p {
    font-family: sans-serif;
    
}

/* section 6 */

#sec6 {
    height: 75rem;
    width: 100%;
    background-color: #202020;
    position: relative;
}

#sec6 .upper {
    width: 100%;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5rem;
}
#sec6 .upper .upperheading {
    width: 60%;
    height: 11rem;
    text-align: center;
}
#sec6 .upper .upperheading h3 {
    color: #39B54A;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
}
#sec6 .upper .upperheading h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: sans-serif;
    padding-top: 1.5rem;
}

#sec6 .form {
    position: absolute;
    top: 19rem;
    left: 15%;
    height: 49rem;
    width: 70%;
    background-color: #00000033;
    display: flex;
}
#sec6 .form .div1 {
    height: 100%;
    width: 65%;
}
#sec6 .form .div2 {
    background-color: #121212;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

#sec6 .form .div1 h5 {
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 4rem;
    margin-left: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

#sec6 .form .div1 form {
    margin-left: 3rem;
    margin-top: 5rem;
    color: #757575;
    font-family: sans-serif;
}

#sec6 .form .div1 input {
    border: none;
    border-bottom: solid 1px #fff;
    background-color: #121212;
    width: 80%;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
#sec6 .form .div1 .button {
    height: 3.5rem;
    width: 48%;
    background-color: #39B54A;
    color: #f1f1f1;
    position: absolute;
    top: 40rem;
    left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec6 .form .div1 .button a {
    text-decoration: none;
}

#sec6 .form .div2 .contect {
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 4rem;
    margin-left: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    padding-bottom: 3rem;
}
#sec6 .form .div2 .box {
    height: 20%;
    width: 70%;
    margin-left: 3rem;
    /* border: solid 1px red; */
}
#sec6 .form .div2 .box h5{
    color: #39B54A;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-family: sans-serif;
}
#sec6 .form .div2 .box h6{
    color: #757575;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.7;
}
#sec6 .form .div2 .box1 {
    height: 20%;
    width: 70%;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: solid 1px red; */
}

#sec6 .form .div2 .box1 a {
    padding-right: 1rem;
    color: #fff;
    text-decoration: none;
}

/* footer */

footer {
    height: 30rem;
    width: 100%;
    position: relative;
    background-color: #121212;
}

footer .div {
    height: 17rem;
    width: 70%;
    position: absolute;
    top: 5rem;
    left: 15%;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
}
footer .div .div1 {
    height: 100%;
    width: 46%;
    /* border: solid 1px red; */
}
footer .div .div2 {
    height: 100%;
    width: 46%;
    /* border: solid 1px red; */
}
footer .div .div1 img {
    max-width: 5rem;
}
footer .div .div1 p {
   color: #ffffff4D;
   font-family: sans-serif;
   line-height: 1.8;
   padding-top: 1.8rem;
}
footer .div .div2 h3{ 
   color: #ffffff;
   font-family: sans-serif;
}
footer .div .div2 p {
    color: #ffffff4D;
   font-family: sans-serif;
   line-height: 1.8;
   padding-top: 1.8rem;
}
footer .div .div2 .box {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: #0000001A;
    margin-top: 2rem;
    /* border: solid 1px red; */
}
footer .div .div2 .box .email {
    width: 65%;
    height: 100%;
    color: #555555;
    text-align: center;
    display: flex;
    align-items: center;
}
footer .div .div2 .box .email img {
    margin: 0rem 1rem;
    background-color: #fff;
}
footer .div .div2 .box .sub{
    width: 35%;
    height: 100%;
    background-color: #39B54A;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h5 {
    position: absolute;
    top: 25rem;
    left: 35%;
    color: #ffffff4D;
    font-family: sans-serif;
    font-weight: 400;
}

/* mediaquary */

@media screen and (max-width: 1120px){
    html {
   font-size: small;
   }    
   #sec2 .div3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   }
   #sec2 .div3 .box {
    width: 40%;
   }
   #sec2 .div3 .box1 {
    width: 40%;
    border-right: solid 0.8px #fff;
   }
   header {
    display: none;
   }
}


@media screen and (max-width: 1000px) {
    html {
   font-size: x-small;
   }
   #sec6 {
    height: 120rem;
   }     
   #sec6 .form {
    height: 95rem;
    flex-direction: column;
   }
   #sec6 .form .div1 {
    height: 50%;
    width: 100%;
   }
   #sec6 .form .div2 {
    height: 50%;
    width: 100%;
    display: flex;
   }
}

@media screen and (max-width: 800px) {
       footer .div {
        /* display: flex; */
        flex-direction: column;
        height: 35rem;
       }
       footer {
        height: 45rem;
       }
       footer h5 {
        top: 40rem;
       }
       html {
        font-size: small;
       }
       footer .div .div1 {
        width: 80%;
       }
       footer .div .div2 {
        width: 80%;
       }

       #sec3 {
        height: 140rem;
       }
       #sec3 .lower {
        flex-direction: column;
        height: 115rem;
        justify-content: center;
        align-items: center;
       }
       #sec3 .lower .box {
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       }
}